/* Main Style */
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

html, body {
    line-height: 1.8;
}

*:focus {
    outline: none;
}

.TopPadding {
    padding-top: 100px
}
/* The end of Main Style */
/*--------------------------------------------------------------------------------------------------------------------*/
/* Navigation Bar Style*/
.navbar {
    /**box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16),0 3px 13px 0 rgba(0,0,0,0.12);**/
    box-shadow: 0 8px 6px -6px black;
}

.navbar-brand {
    padding: 0;
    height: 50px;
    width: 150px;
}

.navbar img {
    width: 100%;
    height: 100%;
}

.nav-item {
    text-align: center;
}

.nav-item:hover {
    color: red;
    transition: 0.5;
}

.nav-link  {
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:  #ff471a;
}
/* The end of Navigation Bar Style*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Header Style*/
header {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background: url("../images/H1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

header .HeaderOverlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    min-height: 100vh;
}

header .headerinfo {
    margin-top: 170px;
    margin-left: 30px;
}

header .headerinfo h6 {
    font-size: 5vw;
    color: #fff;
    font-weight: bolder;
}

header .headerinfo span {
    color: #fff;
    font-size: 1.7vw;
    margin-top: 95px;
    display: block;
}

header .headerinfo button {
    padding: 12px 25px;
    font-size: 1.5vw;
    background-color: #fff;
    color: #000;
    opacity: 0.60;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
}

header .headerinfo button:hover {
    opacity: 0.90;
    cursor: pointer;
    border: 0;
    transition: 0.5s;
}

header .socialicons {
    bottom: 20px;
    position: absolute;
    text-align: right;
    right: 30px;
}

header .socialicons a {
    font-size: 2vw;
    color: white;
    opacity: 0.60;
    margin: 0 7px;
}

header .socialicons a:hover {
    opacity: 1;
    transition: 0.5s;

}

@media only screen and (max-width: 768px) {
    /* Header Style*/
    header {
        background: url("../images/H2.jpg");
    }

    header .headerinfo{
        text-align: center;
        margin: auto;
        margin-top: 210px;
    }

    header .headerinfo h6 {
        font-size: 8vw!important;
    }
    
    header .headerinfo span {
        font-size: 3vw!important;
        margin-top: 150px;

    }

    header .headerinfo button {
        padding: 12px 25px;
        font-size: 2vw!important;
        border-radius: 50px;
        margin-top: 20px;
    }

    header .socialicons {
        bottom: 20px;
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        margin: auto
    }

    header .socialicons a {
        font-size: 4vw;
        color: white;
        opacity: 0.60;
        margin: 0 10px;
    }
}

@media only screen and (max-width: 576px) {
    /* Header Style*/
    header {
        background: url("../images/H3.jpg");
    }

    header .headerinfo{
        margin-top: 150px;
    }

    header .headerinfo h6 {
        font-size: 10vw!important;
    }
    
    header .headerinfo span {
        font-size: 5vw!important;
        margin-top: 120px;

    }

    header .headerinfo button {
        font-size: 3.5vw!important;
        margin-top: 20px;
    }

    header .socialicons a {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 992px) and (max-height: 1000px) and (orientation: landscape){
    /* Header Style*/
    header {
        background-image: url("../images/H1.jpg");
    }

    header .headerinfo{
        text-align: left;
        margin-top: 120px;
    }

    header .headerinfo h6 {
        font-size: 5vw!important;
    }
    
    header .headerinfo span {
        font-size: 1.7vw!important;
        margin-top: 50px;

    }

    header .headerinfo button {
        padding: 12px 25px;
        font-size: 1.5vw!important;
        background-color: #fff;
        color: #000;
        opacity: 0.60;
        border: none;
        margin-top: 20px;
        border-radius: 8px;
    }

    header .socialicons {
        bottom: 20px;
        position: absolute;
        text-align: right;
        right: 30px;
    }

    header .socialicons a {
        font-size: 3vw;
    }
}
/* The end of Header Style*/
/*--------------------------------------------------------------------------------------------------------------------*/
/** About The Company **/
#aboutcompany {
    overflow: hidden;
}

#aboutcompany h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px!important;
    margin: 0;
    padding: 0;
}

#aboutcompany span {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px!important;
}

#aboutcompany .element {
    height: auto;
    text-align: center;
    margin-top: 10px;
}

#aboutcompany .elementTitle {
    font-size: 20px!important;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

#aboutcompany .element p {
    margin-top: 20px;
}
/** The end of About The Company **/
/*--------------------------------------------------------------------------------------------------------------------*/
/** The Team **/
#theteam h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px!important;
    margin: 0;
    padding: 0;
}

#theteam span {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px!important;
}

#theteam .member {
    border-radius: 10px;
    height: 480px; ;
    text-align: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#theteam .member .overlayParent {
    width: 100%;
    height: 200px;
    position: relative;
}

#theteam .member img {
    width: 100%;
    height: 100%;
    border-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: grayscale(60%);
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* When you mouse over the container, fade in the overlay title */
#theteam .member:hover .overlay {
    opacity: 1;
}

#theteam .member h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 20px 10px;
}

#theteam .member h5 {
    margin: 0 0 0 10px;
    font-size: 15px;
    font-weight: lighter;
    opacity: 0.90;
}

#theteam .member p {
    padding: 10px;
}

#theteam .member button {
    width: 80%;
    display: block;
    margin: 15px auto;
    padding: 7px 0;
    border: none;
    cursor: pointer;
    background-color: #F1F1F1;
    font: inherit;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16), 0 5px 10px 0 rgba(0,0,0,0.12);
}

#theteam .member button:hover {
    transition: 0.5s;
    color: white;
    background-color: black;


}

@media only screen and (max-width: 768px) {
    #theteam .member {
        text-align: center;
    }

    #theteam .member button {
        box-shadow: 0;
    }
}
/** The end of The Team **/
/*--------------------------------------------------------------------------------------------------------------------*/
/** Statics **/
#statics {
    background-color: #616161!important;
    overflow: hidden;
    margin-top: 100px;
}

#statics .stats {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#statics .stats span.number {
    padding: 0;
    margin: 0;
    display: block;
    color: white;
    font-size: 35px;
}

#statics .stats span {
    padding: 0;
    margin: 0;
    display: block;
    color: white;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    #statics .stats:not(:last-child) {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 0;
    }
}
/** The end of Statics **/
/*--------------------------------------------------------------------------------------------------------------------*/
/** Our Work **/
#ourwork {
    overflow: hidden;
}

#ourwork h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px!important;
    margin: 0;
    padding: 0;
}

#ourwork span {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px!important;
}

#ourwork .sample {
    height: 210px;
    position: relative;
    border-radius: 4px;
    margin-top: 20px; 
}

#ourwork .sample img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform .7s;

}

#ourwork .sample img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
/** The end of Our Work **/
/*--------------------------------------------------------------------------------------------------------------------*/
/** Our Skills **/
#ourskills {
    overflow: hidden;
    background-color: #F1F1F1;
    margin-top: 100px;
}

#ourskills .skills {
    padding-top: 50px;
    padding-bottom: 50px;
}

#ourskills .skills h3 {
    text-align: left;
    font-weight: bold;
    font-size: 24px!important;
    margin: 0;
    padding: 0 0 30px 0;
}

#ourskills .skillsmeter {
    padding-top: 50px;
    padding-bottom: 50px;
}

#ourskills .skillsmeter span {
    margin-left: 10px;
    letter-spacing: 4px;
}

/* Styling the determinate progress element */
progress[value] {

    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;

    /* Add dimensions */
    width: 100%; height: 20px;

    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;

    position: relative;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */
progress[value]::-webkit-progress-value:after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
    content: '';
    position: absolute;
    width:5px; height:5px;
    top:7px; right:7px;
    background-color: white;
    border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */
progress[value]::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
            -moz-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -moz-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -moz-linear-gradient( left, #09c, #f44);

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Dimensions should be similar to the parent progress element. */
    width: 100%; height:20px;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;
    display: block;
    text-indent: -9999px;
}

p[data-value] {
    position: relative;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */
p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; right:0;
}

.chrome::-webkit-progress-value {
    /* Gradient background with Stripes */
    background-image:
            -webkit-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -webkit-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -webkit-linear-gradient( left, #09c, #f44);
}

@media only screen and (max-width: 768px) {
    #ourskills .skills h3 {
        text-align: center;
    }

    #ourskills .skills p {
        text-align: center;
    }

    #ourskills .skillsmeter {
        padding-top: 0;
        padding-bottom: 50px;
    }
}
/** The end of Our Skills **/
/*--------------------------------------------------------------------------------------------------------------------*/
/** Pricing **/
#pricing {
    overflow: hidden;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../images/Prices.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

#pricing h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px!important;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

#pricing span {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 18px!important;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    margin-bottom: 50px;
}

#pricing  .pricepackage {
    background-color: white;
}

#pricing  .pricepackage:hover {
    transition: 0.5s;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.75);
}

#pricing  .pricepackage ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#pricing  .pricepackage ul li {
    border-bottom: 1px solid #ddd;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

#pricing  .pricepackage ul li.description1 {
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 24px!important;
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

#pricing  .middle ul li.description1 {
    background-color: #F44336;
}

#pricing  .pricepackage ul li.theprice {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    color: #9e9e9e;
}

#pricing  .pricepackage ul li.theprice b {
    font-size: 30px!important;
    font-weight: 400;
    letter-spacing: 3px;
    color: black;
}

#pricing  .pricepackage ul li.signup button {
    border-radius: 10px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 25px;
    transition: all 0.5s;
    cursor: pointer;
}

#pricing  .pricepackage ul li.signup button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    padding: 0;
    margin: 0;
}

#pricing  .pricepackage ul li.signup button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#pricing  .pricepackage ul li.signup button:hover span {
    padding-right: 25px;
}

#pricing  .pricepackage ul li.signup button:hover span:after {
    opacity: 1;
    right: 0;
}

@media only screen and (max-width: 768px) {
    #pricing  .pricepackage:not(.middle) {
        margin-top: 0;
    }

    #pricing  .pricepackage ul li.signup button {
        border-radius: 50px;
        padding: 6px 25px;
    }
}
/** The end of Pricing **/
/*--------------------------------------------------------------------------------------------------------------------*/
/** Contact US **/
#contactus {
    overflow: hidden;
}

#contactus h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px!important;
    margin: 0;
    padding: 0;
}

#contactus .sendMsg {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 18px!important;
    margin-bottom: 50px;
}

#contactus .info {
    text-align: center;
}

#contactus .contactform form {
    margin-top: 30px;
    text-align: center;
}

#contactus .contactform form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: 1px solid #ccc!important;
    font: inherit;
    border-radius: 10px;
}

#contactus .contactform form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: 1px solid #ccc!important;
    font: inherit;
    resize: none;
    height: 150px;
    border-radius: 10px;
}

#contactus .contactform form button {
    border: none;
    background-color: black;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    margin-bottom: 22px;
    border-radius: 10px;
    margin: auto;
}

#contactus .contactform form button:hover {
    transition: 0.5s;
    background-color: #CCCCCC;
    color: black;
}

#contactus .map {
    text-align: center;
}

#contactus .map img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    #contactus .info {
        text-align: center;
    }

    #contactus .contactform form button {
        padding: 6px 25px;
        border-radius: 50px;
    }

    #contactus .map {
        display: none;
    }
}
/** The end of Contact US **/
/*--------------------------------------------------------------------------------------------------------------------*/
/** Footer **/
footer {
    background-color: black;
    text-align: center;
    overflow: hidden;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px; 
}

footer button {
    border-radius: 10px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    padding: 12px 20px;
    transition: all 0.5s;
    cursor: pointer;
}

footer button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    padding: 0;
    margin: 0;
}

footer button span:after {
    content: '▲';
    position: absolute;
    opacity: 0;
    top: 18px;
    right: 40%;
    transition: 0.5s;
}

footer button:hover span {
    padding-top: 25px;
}

footer button:hover span:after {
    opacity: 1;
    top: 0;
}

footer .socialicons {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .socialicons a {
    font-size: 24px!important;
    color: white;
    margin: 3px;
}

footer .socialicons a:hover {
    opacity: 0.60;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {

}
/** The end of Footer **/